.sticker {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-image: url('https://github.com/jeanchongdev/img-proyect/blob/main/Logo.png?raw=true'); /* Sticker de corazón morado */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
